[submodule "Software/diff_drive_robot/components/micro_ros_espidf_component"]
	path = Software/diff_drive_robot/components/micro_ros_espidf_component
	url = https://github.com/micro-ROS/micro_ros_espidf_component
[submodule "Software/mcpwm_bdc_speed_control/main/mcpwm_bdc_speed_control/components/micro_ros_espidf_component"]
	path = Software/mcpwm_bdc_speed_control/main/mcpwm_bdc_speed_control/components/micro_ros_espidf_component
	url = https://github.com/micro-ROS/micro_ros_espidf_component
[submodule "Software/micro_ros_espidf_component"]
	path = Software/micro_ros_espidf_component
	url = https://github.com/micro-ROS/micro_ros_espidf_component
